.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: auto;
  overflow: hidden;

  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
}

.wrapper.show {
  max-height: 200px;
  transform: scaleY(1);
}

.notification {
  padding: 8px 16px;
}

.error {
  border-left: 3px solid var(--color-red);
  background: var(--color-grey-800);
}

.success {
  border-left: 3px solid var(--color-green);
  background: var(--color-grey-800);
}
