:root {
  --color-green: #477A43;
  --color-yellow: #83732A;
  --color-red: #B71E1E;

  --color-white: #FAFAFA;
  --color-black: #121213;

  --color-grey-800: #3A3A3C;
  --color-grey-700: #727274;

  --color-correct: var(--color-green);
  --color-present: var(--color-yellow);
  --color-absent: var(--color-grey-800);
  --color-key: var(--color-grey-700);
  --color-border: var(--color-grey-800);

  --border: 2px solid var(--color-border);

  --color-text-default: var(--color-white);
  --color-background: var(--color-black);
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}